<div class="account main" ngController="accountController">
	<div class="account-overview large-12 columns">
		<div class="top large-12 columns no-pad">
			<h2>{{translation.ACSETTINGS}}</h2>
			<hr class="divider" />
		</div>
		<div class="change-account large-12 columns no-pad">
			<p>{{translation.HERE_YOU_CAN}}</p>
			<h4>{{translation.PROFPIC}}</h4>
			<div class="large-3 columns no-pad-left">
				<div class="user-image-cont" ng-app="fileUpload" ng-controller="userController" class="upload">
					<a ngf-select="upload($file)" href="" ng-if="user.userImage.path != null"  class="user-image" style="background-image: url({{user.userImage.path}})"></a>
					<a ngf-select="upload($file)" href="" ng-if="user.userImage.path == null" class="user-image" style="background-image: url('assets/img/dummy-user.png')"></a>
				</div>
			</div>
		</div>
		<div class="change-account large-12 columns no-pad">
			<h4>{{translation.ACCINFO}}</h4>
			<div class="user-info large-6 columns no-pad">
				<form role="userInfo" name="userInfo" ng-submit="changeInfo(user.uuid)" id="change-info">
					<div class="large-6 columns no-pad-left">
						<div class="form-group">
							<label for="firstname" style="background-image: url('assets/img/account.png')" tooltip title="{{translation.FIRSTN}}"></label>
							<input type="text" id="firstname" name="firstname" placeholder="{{translation.FIRSTN}}" ng-model="user.firstName" required="" tabindex=1 />
							<div ng-show="userInfo.$submitted || userInfo.firstname.$touched" class="ng-error">
								<span ng-show="userInfo.firstname.$error.required">{{translation.PLEASEPROV}} {{translation.FIRSTN}}</span>
							</div>
						</div>
						<div class="form-group">
							<label for="email" style="background-image: url('assets/img/email.png')" tooltip title="{{translation.EMAIL}}"></label>
							<input type="email" id="email" name="email" placeholder="{{translation.EMAIL}}" ng-model="user.loginEmail" required="" tabindex=3 />
							<div ng-show="userInfo.$submitted || userInfo.email.$touched" class="ng-error">
								<span ng-show="userInfo.email.$error.required">{{translation.PLEASEPROV}} {{translation.EMAIL}}</span>
								<span ng-show="userInfo.email.$error.email">this is not a valid {{translation.EMAIL}}</span>
							</div>
						</div>
						<div class="form-group">
							<label for="birthday" style="background-image: url('assets/img/calender.png')" tooltip title="{{translation.BDAY}}"></label>
							<input type="text" id="birthday" name="birthday" placeholder="{{translation.BDAY}}" ng-model="user.dateofbirth" required="" tabindex=5 />
							<div ng-show="userInfo.$submitted || userInfo.birthday.$touched" class="ng-error">
								<span ng-show="userInfo.birthday.$error.required">{{translation.PLEASEPROV}} {{translation.BDAY}}</span>
							</div>
						</div>
						<div class="form-group buttons">
							<button type="submit" class="button success tiny" id="saveUser">{{translation.SAVE}}</button>
							<button type="reset" class="button alert tiny">{{translation.RESET}}</button>
						</div>
					</div>
					<div class="large-6 columns no-pad">
						<div class="form-group">
							<label for="lastname" style="background-image: url('assets/img/account.png')" tooltip title="{{translation.LASTN}}"></label>
							<input type="text" id="lastname" name="lastname" placeholder="{{translation.LASTN}}" ng-model="user.lastName" required="" tabindex=2 />
							<div ng-show="userInfo.$submitted || userInfo.lastname.$touched" class="ng-error">
								<span ng-show="userInfo.lastname.$error.required">{{translation.PLEASEPROV}} {{translation.LASTN}}</span>
							</div>
						</div>
						<div class="form-group">
							<label for="phone" style="background-image: url('assets/img/telephone.png')" tooltip title="{{translation.PHONE}}"></label>
							<input type="tel" id="phone" name="phone" placeholder="{{translation.PHONE}}" ng-model="user.phone" required=""  tabindex=4 />
							<div ng-show="userInfo.$submitted || userInfo.phone.$touched" class="ng-error">
								<span ng-show="userInfo.phone.$error.required">{{translation.PLEASEPROV}} {{translation.PHONE}}</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="change-account large-12 columns no-pad">
			<h4>{{translation.CHANGEPW}}</h4>
			<div class="user-info large-3 columns no-pad">
				<div class="large-12 columns no-pad-left">
					<div class="form-group">
						<label for="password" style="background-image: url('assets/img/password.png')" tooltip title="{{translation.CURPW}}"></label>
						<input type="password" id="password" name="password" placeholder="{{translation.CURPW}}" ng-model="dynamic.password" ng-change="checkPassword(user.uuid)" required="" tabindex=6 />
					</div>
				</div>
				<form role="passwordForm" ng-show="showPassword" name="passwordForm" ng-submit="changePassword(user.uuid)" id="change-pass" class="large-12 columns no-pad-left">
					<div class="form-group">
						<label for="password" style="background-image: url('assets/img/password.png')" tooltip title="{{translation.CURPW}}"></label>
						<input type="password" id="passwordHash" name="passwordHash" placeholder="new password" ng-model="user.passwordHash" required="" tabindex=7 />
						<div ng-show="form.$submitted || form.password.$touched" class="ng-error">
							<span ng-show="form.password.$error.required">{{translation.PLEASEPROV}} {{translation.PW}}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="password" style="background-image: url('assets/img/password.png')" tooltip title="{{translation.REP}} {{translation.NEWPW}}"></label>
						<input type="password" id="r-password" name="r-password" placeholder="{{translation.REP}} {{translation.NEWPW}}" ng-model="repeatPassword.password" required="" tabindex=8 />
						<div ng-show="form.$submitted || form.password.$touched" class="ng-error">
							<span ng-show="form.password.$error.required">{{translation.PLEASEPROV}} {{translation.PW}}</span>
						</div>
					</div>
					<div class="form-group buttons">
						<button type="submit" class="button success tiny" id="savePassword">{{translation.SAVE}}</button>
						<button type="reset" class="button alert tiny">{{translation.RESET}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>