<div class="add-role content animated slideInUp" ng-controller="roleController">
	<span class="close-lightbox" ng-click="closeLightbox()">X</span>
	<h3>Edit role</h3>
	<hr class="divider" />
	<p>You can edit the role values bellow.</p>
	<form role="form" name="form" ng-submit="editRole(roleToEdit.uuid)">
		<div class="large-6 columns no-pad-left">
			<div class="form-group">
				<label for="groupname" style="background-image: url('assets/img/account.png')" tooltip title="groupname"></label>
				<input type="text" id="groupname" name="groupname" placeholder="groupname" ng-model="roleToEdit.name" required="" tabindex=1 />
				<div ng-show="form.$submitted || form.groupname.$touched" class="ng-error">
					<span ng-show="form.groupname.$error.required">please provide a name</span>
				</div>
			</div>
		</div>
		<div class="large-6 columns no-pad">
			<div class="form-group">
				<label for="permissions" style="background-image: url('assets/img/users.png')" tooltip title="permissions"></label>
				<div isteven-multi-select input-model="selectedPermissionsEdit" output-model="roleToEdit.permissions" item-label="name" tick-property="selected" button-label="name" translation="dropDownOptions"></div>
			</div>
		</div>
		<div class="large-12 columns no-pad buttons">
			<div class="form-group buttons">
				<button type="submit" class="button success tiny" id="saveEditRole">save</button>
				<button type="reset" class="button alert tiny">cancel</button>
			</div>
		</div>
	</form>
</div>