<div class="devices main">
	<div class="user-overview overview large-12 columns" ng-controller="userController">
		<div class="top">
			<div class="large-12 columns no-pad">
				<div class="large-8 columns no-pad">
					<h2>Input Devices</h2>
				</div>
				<div class="form-group search large-4 columns no-pad">
					<label for="search_devices" style="background-image: url('assets/img/search_big.png')" ng-class="{ active: uFocus || device_query.length > 0 }"></label>
					<input id="search_devices" ng-model="device_query" ng-focus="uFocus=true" ng-blur="uFocus=false">
				</div>
			</div>
			<hr class="divider" />
		</div>
		<div class="controls">
			<div class="large-10 columns">
				<a href="" class="clearfix button success tiny" ng-click="showLightbox('add-device')" id="addDevice">Add Input device</a>
				<a href="" class="button alert tiny">Remove selected</a>
			</div>
		</div>
		<div class="table-holder large-12">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th class="check-all"><input id="checkbox1" type="checkbox"></th>
						<th>Image</th>
						<th>Name</th>
						<th>Type</th>
						<th>Info</th>
						<th>Driver</th>
						<th class="actions">actions</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="device in devices | filter: device_query | itemsPerPage: 25">
						<td><input id="checkbox1" type="checkbox"></td>
						<td><img ng-src="{{device.inputDeviceImage.path}}" imageonload ng-show="device.inputDeviceImage.path != null" width="100px" height="100px"/>
							<img imageonload ng-if="device.inputDeviceImage.path == null"  ng-src="assets/img/dummy-device.png" width="100px" height="100px"/></td>
						<td>{{device.name}}</td>
						<td>{{device.type}}</td>
						<td>{{device.info}}</td>
						<td>{{device.driver}}</td>
						<td class="actions">
							<div>
								<a href="" class="edit" ng-click="setDeviceToEdit(device.uuid); showLightbox('edit-device')" id="editDevice"></a> 
								<a href="" class="delete" ng-click="deleteDevice(device.uuid, device.name)" id="deleteDevice"></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="large-10 columns pagination no-pad">
			<dir-pagination-controls></dir-pagination-controls>
		</div>
	</div>
</div>