<div class="users main">
	<div class="user-overview overview large-12 columns" ng-controller="userController">
		<div class="top">
			<div class="large-12 columns no-pad">
				<div class="large-8 columns no-pad">
					<h2>Users</h2>
				</div>
				<div class="form-group search large-4 columns no-pad">
					<label for="search_users" style="background-image: url('assets/img/search_big.png')" ng-class="{ active: uFocus || user_query.length > 0 }"></label>
					<input id="search_users" ng-model="user_query" ng-focus="uFocus=true" ng-blur="uFocus=false">
				</div>
			</div>
			<hr class="divider" />
		</div>
		<div class="controls">
			<div class="large-10 columns">
				<a href="" class="clearfix button success tiny" ng-click="showLightbox('add-user')" id="addUser">Add user</a>
				<a href="" class="button alert tiny" id="deleteUser" ng-click="removeSelected()">Remove selected</a>
			</div>
		</div>
		<div class="table-holder large-12">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th><input class="check-all" type="checkbox"></th>
						<th>first name</th>
						<th>last name</th>
						<th>email</th>
						<th>role(s)</th>
						<th class="actions">actions</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="user in users | filter: user_query | itemsPerPage: 10 " pagination-id="users">
						<td><input class="check" type="checkbox" ng-model="selectedUsers[user.uuid]"></td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.loginEmail}}</td>
						<td>
							<ul>
								<li ng-repeat="r in user.roles">{{r.name}}</li>
							</ul>
						</td>
						<td class="actions">
							<a href="" ng-class="{true: 'unlock', false: 'lock'}[user.active]" ng-click="lockUser(user.uuid)"></a>
							<a href="" class="edit" ng-click="setUserToEdit(user.uuid); showLightbox('edit-user')" id="editUser"></a> 
							<a href="" class="delete" ng-click="deleteUser(user.uuid, user.firstName, user.lastName)" id="deleteUser"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="large-10 columns pagination no-pad">
			<dir-pagination-controls pagination-id="users"></dir-pagination-controls>
		</div>
	</div>
	<div class="roles-overview overview large-12 columns" ng-controller="roleController">
		<div class="top">
			<div class="large-12 columns no-pad">
				<div class="large-8 columns no-pad">
					<h2>Roles</h2>
				</div>
				<div class="form-group search large-4 columns no-pad">
					<label for="search_roles" style="background-image: url('assets/img/search_big.png')" ng-class="{ active: rFocus || role_query.length > 0}"></label>
					<input id="search_roles" ng-model="role_query" ng-focus="rFocus=true" ng-blur="rFocus=false">
				</div>
			</div>
			<hr class="divider"></hr>
		</div>
		<div class="controls">
			<div class="large-6 columns">
				<a href="" class="button success tiny" ng-click="showLightbox('add-role')" id="addRole" >Add role</a>
				<a href="" class="button alert tiny" id="deleteRole" ng-click="removeSelected()">Remove selected</a>
			</div>
		</div>
		<div class="table-holder large-12">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th><input class="check-all" type="checkbox" ng-model="roleMaster" ng-click="checkAll()"></th>
						<th>Groupname</th>
						<th>Rights</th>
						<th class="actions">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="role in roles | filter: role_query | itemsPerPage: 10">
						<td><input class="check" type="checkbox" checklist-model="selectedRoles" checklist-value="role"></td>
						<td>{{role.name}}</td>
						<td>
							<ul>
								<li ng-repeat="permission in role.permissions">{{permission.name}}</li>
							</ul>
						</td>
						<td class="actions">
							<div>
								<a href="" class="edit" ng-click="setRoleToEdit(role.uuid); showLightbox('edit-role')" id="editRole"></a>
								<a href="" class="delete" ng-click="deleteRole(role.uuid, role.name)" id="deleteRole"></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="large-10 columns pagination no-pad">
			<dir-pagination-controls></dir-pagination-controls>
		</div>
	</div>
</div>